<div class="flex flex-col items-start justify-center rounded-2xl bg-white bg-clip-border px-3 py-4 shadow-3xl shadow-shadow-500 dark:!bg-navy-700 dark:shadow-none">
  <p class="text-xl pb-2 text-navy-800"><%= t('.title', id: excavator.id) %></p>
  <p class="text-sm font-medium dark:text-white">
    <span class="text-gray-700"><%= t('.company_name') %></span>
    <span class="text-gray-400"><%= excavator.company_name %></span>
  </p>
  <p class="text-sm font-medium dark:text-white">
    <span class="text-gray-700"><%= t('.address') %></span>
    <span class="text-gray-400"><%= excavator.address %></span>
  </p>
  <p class="text-sm font-medium dark:text-white">
    <span class="text-gray-700"><%= t('.crew_onsite') %></span>
    <span class="text-gray-400"><%= excavator.crew_onsite %></span>
  </p>
</div>
